<p>Bonjour,</p>

<p>Suite à la commande que vous avez effectué sur le site de la billetterie du Louvre,
nous vous adressons vos billets en pièce jointe.</p>

<p><em>Toute l'équipe du Louvre vous souhaite une bonne visite, en espèrant vous revoir prochainement.</em></p>

<p>Merci et à bientot.</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('bundles/louvrescommande/images/logo_louvre.png')) }}">