<h2>Bonjour</h2>

<p>Suite à la commande que vous avez effectué sur le site de la billetterie du Louvres,
vous trouverez en pièce jointe vos billets en pdf.</p>

<p><em>Toute l'équipe du Louvres, vous souhaite une bonne visite, en espèrant que vous l'apprécierez.</em></p>

<p>Merci et à bientot.</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_louvre.png')) }}">