{% extends "LouvresCommandeBundle::layout.html.twig" %}

{% block title %}
    Paiement - Musée du Louvres
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- En tête blanche -->
    <div class="header">
        <div class="container-fluid">
            <div class="header_texte row">
                <div class="col-xs-12 col-sm-12">
                    <h1>Musée du Louvre</h1>
                    <p>Bienvenue sur la plateforme de réservation de billets en ligne.</p>
                    <div class="hidden-xs">
                        <p>N'attendez plus en caisse et profitez plus rapidement des expositions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- encart gris : Paiement -->
    <div class="encart_gris">
        <div class="container-fluid">
            <p>Choisissez votre mode de paiement</p>
        </div>
    </div>

    <!-- paiement  -->
    <div class="paiement">
        <div class="container row">
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    '@LouvresCommandeBundle/Resources/public/js/commande.js'
    '@LouvresCommandeBundle/Resources/public/js/jquery.flagstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

