default:
    extensions:
        Behat\MinkExtension:
            base_url: http://localhost:8080/Projet1_Louvres/web/app_test.php
            goutte: ~
            selenium2 : ~
    suites:
        default:
            contexts: [FeatureContext, WebContext]